.lessonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}

p {
    font-family: "Open Sans", serif;
    font-size: 20px;
    color: white;
}